/* start global roles */
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Merienda', cursive;
}
/* start global roles */

/* start header */
.header{
  background: url('../images/001.jpg') no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  min-height: 500px;
  position: relative;
}
.header .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0,168,255,.5);

}
.header .overlay h1{
  font-size: 60px;
  margin-top: 100px;
}
.header .overlay .plan{
  border: 2px solid #fff;
  font-size: 24px;
  width: 48%;
  padding: 10px;
  margin: 1%
}
.header .overlay .order{
  border: 2px solid #fff;
  font-size: 24px;
  padding: 10px;
  margin: 0 1%;
}

@media (max-width: 420px) { /* custom media not found in bootstrap*/
  h1{
    margin: 20px !important;
    font-size: 50px !important
  }
.header .overlay .plan{
  float: none;
  margin: 0 auto 20px;
  font-size: 22px
}
}
@media (max-width: 767px) {
.header .overlay .plan{
  float: none;
  margin: 0 auto 20px;
  font-size: 22px
}
}

/* end header */

/* start features */
.features{
  padding: 30px 0;
  overflow: auto;
}
.features .h1{
  font-size: 50px;
  color: #777;
}
.features .feat{
  color: #555;
  padding: 0 20px 0 0;
  margin-bottom: 30px
}
.features .feat h2{
  margin: 10px 0 8px;
}
.features .feat p{
  line-height: 1.7;
  margin: 0;
}
@media (max-width: 767px){
  .features .feat{
    text-align: center;
  }
}
@media (min-width: 768px){
  .features .feat{
    width: 50%
  }
}
@media (min-width: 992px){
  .features .feat{
    width: 33.3333%;
  }
}

/* end features */

/* start about us */
.about-us{
  background-color: #ececec;
  padding: 30px 0;
}
.about-us .h1{
  font-size: 50px;
  color: #848484
}
.about-us .res-p{
  color: #848484
}

/* end about us */

/* start our works */
.our-works{
  overflow: auto;
}

@media (max-width: 767px){
  .our-works .image{
    width: 100%;
  }
}

@media (min-width: 768px){
  .our-works .image{
    width: 50%;
  }
}
@media (min-width: 992px){
  .our-works .image{
    width: 33.33333%;
  }
}

@media (min-width: 1200px){
  .our-works .image{
    width: 25%;
  }
}

/* start our works */

/* start our pricing table */

.pricing-table{
  background-color: #444;
  color: #fff;
  padding: 50px 0;
  overflow: auto;
}
.pricing-table .h1{
  margin: 0 0 40px;
  font-size: 50px;
}
.pricing-table .pricing-plan{
  border: 3px solid #fff;
  padding: 20px 0;
  position: relative;
}
.pricing-table .pricing-plan h3{
  margin: 0 0 10px;
  font-size: 26px;
}
.pricing-table .pricing-plan .pricing{
  display: inline-block;
  margin: 0 0 10px;
  font-size: 22px;
  color: #bfbfbf
}
.pricing-table .pricing-plan .classic-list li{
line-height: 2
}
@media (max-width: 767px) {
  .pricing-table .pricing-plan{
    width: 100%;
    margin-bottom: 20px;
}
}
@media (min-width: 768px) {
.pricing-table .pricing-plan{
  width: 100%;
  margin-bottom: 20px;
}
}

@media (min-width: 992px){
  .pricing-table .pricing-plan:not(.ultimate){
    margin-right: 1%
  }
  .pricing-table .pricing-plan{
  width: 32.6666666%;
    margin-bottom: 0
  }
  .pricing-table .pricing-plan.plus{
  left: 33.6666666%
  }
.pricing-table .pricing-plan.premium{
  right: 33.666666%
}
}
/* end our pricing table */

/* start what they say */

.they-say{
  padding: 50px 0;
  overflow: auto;
}
.they-say .h1{
  font-size: 50px;
  margin: 0 0 20px;
  color: #555;
}
.they-say .person-say{
  background-color: #eee;
  padding: 20px;
  margin: 0 0 20px;
  border: 1px solid #ddd;
  border-radius: 10px
}
@media (min-width: 768px){
  .they-say .person-say:first-of-type{
    width: 100%;
  }
  .they-say .person-say:not(:first-of-type){
    width: 49%
  }
  .they-say .person-say:last-of-type{
    margin-left: 2%
  }
}
  .they-say .person-say .avatar{
    width: 120px;
    margin-right: 20px
  }
  .they-say .person-say h3{
    margin: 5px 0 10px;
    color: #555;
  }
.they-say .person-say p{
  margin: 0;
  color: #777;
  line-height: 1.8;
  width: calc(100% - 140px)
}
@media (max-width: 767px){
  .they-say .person-say .avatar{
    float: none;
    margin: auto;
  }
  .they-say .person-say h3{
    float: none;
    text-align: center;
  }
  .they-say .person-say p{
    float: none;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991px){
    .they-say .person-say:not(:first-of-type) .avatar{
      float: none;
      margin: auto;
    }
    .they-say .person-say:not(:first-of-type) h3{
      float: none;
      text-align: center;
    }
    .they-say .person-say:not(:first-of-type) p{
      float: none;
      width: 100%;
      text-align: center;
    }
}
@media (min-width: 992px){
  .they-say .person-say:first-of-type{
    width: 80%;
    margin-left: 10%
  }
}
/* end what they say */
/* start information */
.information{
  background-color: #ececec;
  padding: 30px 0;
  font-size: 18px
}
.information .h1{
  font-size: 50px;
  color: #848484
}
.information .info-list li{
  display: inline-block;
  background-color: #ddd;
  padding: 15px;
  font-size: 22px;
  cursor: pointer
}
.information .info-list li.selected{
  background-color: #fff;
  color: #409bcf
}
.information .info-content{
  margin-bottom: 30px
}
.information .info-content > div{
  padding: 20px;
  background-color: #fff;
  line-height: 1.8
}
.information .info-content > div:not(:first-of-type){
  display: none;
}
@media (max-width: 767px){
  .information .info-list li{
    display: block;
  }
}
/* end information */
/* start footer */
.footer{
  overflow: auto;
  background-color: #333;
  color: #eee
}
.footer .copyright,.footer .design{
  padding: 20px;
  text-align: center;
}
@media (max-width: 767px){
  .footer .copyright,.footer .design{
    width: 100%
  }
}
@media (min-width: 768px){
  .footer .copyright,.footer .design{
    width: 50%
  }
}
/* end footer */

/* Mobaile & Tablet Rules */
@media (max-width: 767px) {
h1{
  margin-top: 40px !important;
}
.visible-xs{
  display: block !important;
}
.hidden-xs{
  display: none;
}
.res-p{
  text-align: center;
  font-size: 18px !important;
}
}
/* Small Screen Rules */
@media (min-width: 768px) and (max-width: 991px) {
.container{
  width: 750px
}
.visible-sm{
  display: block !important;
}
.hidden-sm{
  display: none;
}
}
/* Medium Screen Rules */
@media (min-width: 992px) and (max-width: 1199px){
  .container{
    width: 970px
  }
  .visible-md{
    display: block !important;
  }
  .hidden-md{
    display: none;
  }
}
/* Big Screen Rules */
@media (min-width: 1200px) {
  .container{
    width: 1170px
  }
  .visible-lg{
    display: block !important;
  }
  .hidden-lg{
    display: none;
  }
}




/* Start My Framework */
.container{
  margin: auto;
  padding-left: 15px;
  padding-right: 15px
}
.text-center{
  text-align: center;
}
.clear-fix{
  clear: both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
  display: none;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.h1{
  font-size: 2em;
}
.res-p{
  line-height: 1.8;
  font-size: 22px
}
.res-img{
  width: 100%
}
.classic-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.img-circle{
  border-radius: 50%;
}
.img-thumbnail{
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc
}
/* End My Framework */
